modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_CLOUDINARY_CLOUD_NAME = "ecmnslxk"
VITE_CLOUDINARY_UPLOAD_PRESET = "chat_upload"
VITE_FIREBASE_API_KEY = "AIzaSyBVwUHvvxcHy2eNnq1iD6aduU04dZ4GEYo"
VITE_FIREBASE_APP_ID = "1:108730518703:web:d2b401d38fc221e416d85a"
VITE_FIREBASE_AUTH_DOMAIN = "belajar-nihonggo.firebaseapp.com"
VITE_FIREBASE_MEASUREMENT_ID = "G-G9V27B8JXJ"
VITE_FIREBASE_MESSAGING_SENDER_ID = "108730518703"
VITE_FIREBASE_PROJECT_ID = "belajar-nihonggo"
VITE_FIREBASE_STORAGE_BUCKET = "belajar-nihonggo.firebasestorage.app"
VITE_SECRET_CODE = "WB-PRIVATE-2026"
